[submodule "ospa-library/security"]
	path = ospa-library/security
	url = https://github.com/jjking2019/security.git
[submodule "ospa-library/appint"]
	path = ospa-library/appint
	url = https://github.com/jjking2019/appint.git
