# The last matching pattern has the most precedence.
*                         @peterfz @snicholspa @flavio-santino
/data-management-library/ @jjking2019 @dankingsley001 @AlejandroCasas-oracle
/oci-library/             @flavio-santino @jamalarif
/ospa-library/            @jjking2019 @dankingsley001 @AlejandroCasas-oracle 

