# The last matching pattern has the most precedence.
*                         @peterfz @snicholspa @flavio-santino
/data-management-library/ @jjking2019 @dankingsley001 @AlejandroCasas-oracle @nilaypanchal
/oci-library/             @flavio-santino @jamalarif @enschilling
/ospa-library/            @jjking2019 @dankingsley001 @AlejandroCasas-oracle
/workshops/               @snicholspa @chipbaber 
