.formHeader{
    margin: auto;
    /* width: 50%; */
    text-align: center;
    color: #59656F;
    padding-bottom: 30px;
}

.errorMessage{
    color: #C1292E
}

.navImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 100px;
}