/* 
 * Version: 4/3/17 
 *
 */
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: 'Helvetica Neue', 'Segoe UI', 'Roboto Thin', 'sans-serif-thin', 'sans-serif'; */
    padding-right: 20px;
    font-size: 14px;
    color: black;
    line-height: 1.4;
    font-weight: 300;
}

tutorial{
    background-color: #145C93;
    color: white;
    font-weight: 400;
    margin-left: 10px;
    padding: 3px 13px 3px 13px;
}

h1{
    font-family: 'Helvetica Neue', 'Segoe UI', 'Roboto Thin', 'sans-serif-thin', 'sans-serif';
    font-weight: normal;
    padding-left: 10px;
    padding-top: -20px;
}

/*
h2{
    background-color: #E4F0FA;
    color: #145C93;
    margin-left: 10px;
    padding: 5px 0px 5px 5px;
}
*/

h2{
    font-family: 'Helvetica Neue', 'Segoe UI', 'Roboto Thin', 'sans-serif-thin', 'sans-serif';
    background-color: #E4F0FA;
    color: #145C93;
    margin-left: 55px;
    padding: 5px 0px 5px 5px;
}

.num_circ{
    margin-left: -45px;
}

h3{
    font-family: 'Helvetica Neue', 'Segoe UI', 'Roboto Thin', 'sans-serif-thin', 'sans-serif';
    color: #145C93;
    margin-left: 62px;
}

h4{
    font-family: 'Helvetica Neue', 'Segoe UI', 'Roboto Thin', 'sans-serif-thin', 'sans-serif';
    color: #145C93;
    margin-left: 62px;
}

article p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin-left: 62px;
}

article p.note {
    margin-left: 0;
}

article ul{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    list-style: none;
}

article ul li {
    margin: 0 0 7px 0;
    /*padding-left: 40px;  TMM: removed 4/1*/
    text-indent: -17px;
}

article ul li::before {
    color: #145C93;
    content: "■ " ;
    list-style: square outside;
    padding-right: 5px;
}

article ol{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    list-style-position: outside;
    margin-left: 40px;
}

/* TMM: added 4/1 */
article ul{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    list-style-position: outside;
    margin-left: 40px;
}

article ol li{
    margin: 0 0 7px 0;
}

article ol li table{
    margin-top: 10px;
    width: 90%;
}


article ol li tr th{
    border-style: solid;
    background-color: #000;
    color: white;
    border-width: 0px;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}

article ol li tr td{
    border-bottom-style: solid;
    border-color: #000;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
}

/* TMM: removed 3/28/17
article figure img{
    border-color: #F1F1F2;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin-left: 40px;;
    max-width: 600px;
    position: static;
    /*width: 75vw;*/
/*}*/


/* TMM changed border color 4/3/17 */
article ol figure img{
    border-color: #9B9B9B;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin-left: -40px;
    max-width: 600px;
    position: static;
    /*width: 75vw;*/
}

/* TMM: Added 3/29/17 */
/* TMM changed border color 4/3/17 */
article ul figure img{
    border-color: #9B9B9B;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin-left: -40px;
    max-width: 600px;
    position: static;
    /*width: 75vw;*/
}

/* TMM: Added 3/29/17 */
article ul li figcaption{
    padding-left: 17px;
}


article ol ul{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    list-style: none;
    margin: 0 0 7px -23px;
}

article ol ul li {
  padding-left: 0px;
  text-indent: -17px;
}

article ol ul li::before {
  color: #145C93;
  content: "■ " ;
  list-style: square outside;
  padding-right: 5px;
}


pre {
    -webkit-overflow-scrolling: touch ;
    background-color: #EEF5FC;
    border: 1px solid #E4F0FA;
    border-radius:3px;
    color: #222;
    font-family: "menlo", "monaco", "Courier New", Courier, mono, serif;
    font-size: 14px;
    line-height: 1.615;
    overflow: auto;
    padding: 10px;
    display: block;
    white-space: pre !important;
    word-wrap: normal !important;
}

code{
    font-family: "menlo", "monaco", "Courier New", Courier, mono, serif;
}

.breadcrumb{
    margin-left: 10px;
    padding: 3px 13px 3px 13px;
    font-size: 14px;
    line-height: 1.4;
}

.h2_white{
    background-color: #fff;
}

.h2_white a:hover{
    text-decoration: none;
    border-bottom: dashed 1px #145C93;
}

article ol figure figcaption{
    margin: 5px 0px 0px -40px;
}

/* TMM: Added 3/28/17 */
article ul figure figcaption{
    margin: 5px 0px 0px -40px;
}

/* TMM Removed 3/28/17
article figure figcaption{
    margin: 5px 0px 0px 40px;
}
*/
